canvas {
    background-color: transparent;
}

#header {
    -hippo-background-image: url("header.svg") 8px 1px 1px 8px;
    padding: 4px 8px 4px;
}

#header * {
    color: white;
    font-size: 11pt;
    font-weight: bold;
}

#header-right {
    -hippo-background-image: url("header-right.svg") 8px 8px 1px 1px;
    padding: 4px 8px 4px;
}

#header-right.prelight {
    -hippo-background-image: url("header-right-prelight.svg") 8px 8px 1px 1px;
    padding: 4px 8px 4px;
}

#close-x {
    -hippo-background-image: url("close-x.svg");
}

#header-right.prelight #close-x {
    -hippo-background-image: url("close-x-prelight.svg");
}

#main {
    -hippo-background-image: url("main.svg") 0px 8px 0px;
    padding: 4px 8px 4px;
}

#main * {
    color: white;
    font-size: 11pt;
}

#bottom {
    -hippo-background-image: url("bottom.svg") 1px 8px 8px;
    padding: 6px 10px 5px;
}

#grippy {
    -hippo-background-image: url("grippy.png");
}
