canvas {
    background-color: white;
}

:link {
    text-decoration: underline;
    color: blue;
}

:visited {
    text-decoration: underline;
    color: #666666;
}

#box2 {
    font-size: large;
    border-top: 5px solid red;
    border-bottom: 5px solid green;
    border-left: 5px solid blue;
    border-right: 5px solid yellow;
}

.important {
    color: red;
    font-size: larger;
    font-style: italic;
    border: 1px solid green;
}

.nested {
    border: 1px solid black;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
